[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "endorse"]
	path = endorse
	url = https://github.com/sensitivequestions/endorse
[submodule "list"]
	path = list
	url = https://github.com/sensitivequestions/list
